<h1><%= t 'links.application.confirmation' %></h1>
<br />
<%= form_tag (confirmation_confirm_all_path, :method => "post") do %>
    My country will participate in "Teams competition" of category:
    <div class="control-group">
        <label class="checkbox inline">Small<input id="checkbox_small" type="checkbox" name="small"></label>
        <label class="checkbox inline">Medium<input id="checkbox_medium" type="checkbox" name="medium"></label>
        <label class="checkbox inline">Large<input id="checkbox_large" type="checkbox" name="large"></label>
    </div>
    <p class="alert alert-error"><%= t '.warning_message' %></p>
    <%= submit_tag t('confirmation.views.index.link_to_confirmation'), :class => 'btn btn-danger btn-large', :confirm => t('.warning_message') %>
<% end %>
