<% if flash[:error] %>
    <p class="alert alert-error">
    <button class="close" data-dismiss="alert">×</button>
    <%= flash[:error] %></p>
    </p>
<% end %>
<% if flash[:alert] %>
    <p class="alert">
    <button class="close" data-dismiss="alert">×</button>
    <%= flash[:alert] %></p>
    </p>
<% end %>
<% if flash[:notice] %>
    <p class="alert alert-info">
    <button class="close" data-dismiss="alert">×</button>
    <%= flash[:notice] %></p>
    </p>
<% end %>
<% if flash[:success] %>
    <p class="alert alert-success">
    <button class="close" data-dismiss="alert">×</button>
    <%= flash[:success] %></p>
    </p>
<% end %>
